@import '../variables.scss';

.root {
  padding: 10px 20px;
  margin: 20px 0 auto;
  border: 1px solid $gray-light;
  border-radius: 5px;
  min-height: 40px;
  width: 500px;
}

.root:hover {
  cursor: pointer;
  background: #fca294;
}

.root:active {
  background: #fc9383;
}

.container {
  text-align: center;
  font-size: 14px;
}

.word {
  font-weight: 600;
}
